* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.mw-38r {
  max-width: 38rem;
}

@media screen and (min-width: 1216px) {
  .container:not(.is-max-desktop) {
    max-width: 38rem;
  }
}

@media screen and (min-width: 1408px) {
  .container:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: 38rem;
  }
}